body {
    background-image: linear-gradient(to right bottom, #1a2d42, #000000, #4a0000);
    background-attachment: fixed;
    color: rgb(221, 221, 221);
}
.rewardProgress li {
    background-color: rgba(255,255,255,.2);
    border-color: #000;
}
.rewardProgress li.hl {
    background-color: rgba(255, 182, 87, 0.35);
}
.rewardProgress .progress-bar {
    background-color: rgba(200, 200, 200, .5);
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, .5));
    color: #000;
}
.rewardProgress li.hl .progress-bar{
    background-color: rgba(200, 200, 200, .5);
    background-image: linear-gradient(to right, rgba(255, 182, 87, 0.2), rgba(255, 182, 87, 1));
    color: #fff;
    text-shadow: 0 0 5px #000;
}